/* .root 下可声明css变量？注意不可以有-- */
.root {

    /* 主色 */
    -el-color-primary: #409eff;
    -el-color-primary-dark: #337ecc;
    -el-color-primary-light: #79bbff;
    -el-color-primary-light-2: #a0cfff;
    -el-color-primary-light-3: #c6e2ff;
    -el-color-primary-light-4: #d9ecff;
    -el-color-primary-light-5: #ecf5ff;

    /* 辅助色 */
    /* 成功 */
    -el-color-success: #67c23a;
    -el-color-success-dark: #529b2e;
    -el-color-success-light: #95d475;
    -el-color-success-light-2: #b3e19d;
    -el-color-success-light-3: #d1edc4;
    -el-color-success-light-4: #e1f3d8;
    -el-color-success-light-5: #f0f9eb;
    /* 警告 */
    -el-color-warning: #e6a23c;
    -el-color-warning-dark: #b88230;
    -el-color-warning-light: #eebe77;
    -el-color-warning-light-2: #f3d19e;
    -el-color-warning-light-3: #f8e3c5;
    -el-color-warning-light-4: #faecd8;
    -el-color-warning-light-5: #fdf6ec;
    /* 危险 */
    -el-color-danger: #f56c6c;
    -el-color-danger-dark: #c45656;
    -el-color-danger-light: #f89898;
    -el-color-danger-light-2: #fab6b6;
    -el-color-danger-light-3: #fcd3d3;
    -el-color-danger-light-4: #fde2e2;
    -el-color-danger-light-5: #fef0f0;
    /* 信息 */
    -el-color-info: #909399;
    -el-color-info-dark: #73767a;
    -el-color-info-light: #b1b3b8;
    -el-color-info-light-2: #c8c9cc;
    -el-color-info-light-3: #dedfe0;
    -el-color-info-light-4: #e9e9eb;
    -el-color-info-light-5: #f4f4f5;

    /* 中性色 */
    /* 文本 */
    -el-color-text-primary: #303133;
    -el-color-text-regular: #606266;
    -el-color-text-secondary: #909399;
    -el-color-text-placeholder: #A8ABB2;
    -el-color-text-disabled: #C0C4CC;
    /* 边框 */
    -el-color-border-darker: #cdd0d6;
    -el-color-border-dark: #d4d7de;
    -el-color-border-base: #dcdfe6;
    -el-color-border-light: #e4e7ed;
    -el-color-border-lighter: #ebeef5;
    -el-color-border-extra-light: #f2f6fc;
    /* 填充 */
    -el-color-fill-darker: #e6e8eb;
    -el-color-fill-dark: #ebedf0;
    -el-color-fill-base: #f0f2f5;
    -el-color-fill-light: #f5f7fa;
    -el-color-fill-lighter: #fafafa;
    -el-color-fill-extra-light: #fafcff;
    -el-color-fill-blank: #ffffff;
    /* 其他 */
    -el-color-basic-black: black;
    -el-color-basic-white: white;
    -el-color-transparent: transparent;
    -el-color-background-page: #f2f3f5;
    -el-color-background-base: white;
    -el-color-background-overlay: white;

    -el-color-disabled-bg: -el-color-fill-light;
    -el-color-disabled-text: -el-color-text-placeholder;
    -el-color-disabled-border: -el-color-border-light;

    /* 字体 */
    -el-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;

    /* 字体大小 */
    -el-font-size-extra-small: 1em;
    -el-font-size-small: 1.0833em;
    -el-font-size-base: 1.1666em;
    -el-font-size-medium: 1.3333em;
    -el-font-size-large: 1.5em;
    -el-font-size-extra-large: 1.6666em;

    /* TODO: 行高 */
    -el-font-line-height-primary: 24px;

    -el-component-size-large: 40px;
    -el-component-size: 32px;
    -el-component-size-small: 24px;

    /* 间距 */
    -el-space-small: 8px;
    /* small 才是真正的默认间距 */
    -el-space-default: 12px;
    -el-space-large: 16px;

    /* 圆角 */
    -el-border-radius-small: 2px;
    -el-border-radius-base: 4px;
    -el-border-radius-round: 20px;
    -el-border-radius-circle: 100%;

    -el-box-shadow-dark: rgba(0, 0, 0, 0.08) 0 16px 48px 16px, rgba(0, 0, 0, 0.12) 0 12px 32px, rgba(0, 0, 0, 0.16) 0 8px 16px -8px;
    -el-box-shadow: rgba(0, 0, 0, 0.04) 0 12px 32px 4px, rgba(0, 0, 0, 0.08) 0 8px 20px;
    -el-box-shadow-light: rgba(0, 0, 0, 0.12) 0 0 12px;
    -el-box-shadow-lighter: rgba(0, 0, 0, 0.12) 0 0 6px;

    /* svg path 图标 */
    /* 来自https://iconpark.oceanengine.com/official */
    -el-icon-up: "m 23.585937,16.585937 -11.999999,12 a 2,2 0 0 0 0,2.828125 2,2 0 0 0 2.828125,0 L 25,20.828125 35.585937,31.414062 a 2,2 0 0 0 2.828125,0 2,2 0 0 0 0,-2.828125 l -12,-12 a 2.0002,2.0002 0 0 0 -2.828125,0 z";
    -el-icon-down: "m 12,16 a 2,2 0 0 0 -1.414062,0.585937 2,2 0 0 0 0,2.828125 l 11.999999,12 a 2.0002,2.0002 0 0 0 2.828125,0 l 12,-12 a 2,2 0 0 0 0,-2.828125 2,2 0 0 0 -2.828125,0 L 24,27.171875 13.414063,16.585937 A 2,2 0 0 0 12,16 Z";
    -el-icon-left: "m 29.585937,10.585938 -12,11.999999 a 2.0002,2.0002 0 0 0 0,2.828125 l 12,12 a 2,2 0 0 0 2.828125,0 2,2 0 0 0 0,-2.828125 L 21.828125,24 32.414062,13.414063 a 2,2 0 0 0 0,-2.828125 2,2 0 0 0 -2.828125,0 z";
    -el-icon-right: "m 19,10 a 2,2 0 0 0 -1.414063,0.585938 2,2 0 0 0 0,2.828125 L 28.171875,24 17.585937,34.585937 a 2,2 0 0 0 0,2.828125 2,2 0 0 0 2.828125,0 l 12,-12 a 2.0002,2.0002 0 0 0 0,-2.828125 l -12,-11.999999 A 2,2 0 0 0 19,10 Z";
    -el-icon-minus: "m 10.5,22 a 2,2 0 0 0 -2,2 2,2 0 0 0 2,2 h 28 a 2,2 0 0 0 2,-2 2,2 0 0 0 -2,-2 z";
    -el-icon-check: "M 43.003906,9 A 2,2 0 0 0 41.589844,9.5820313 L 16.875,34.177734 6.4101562,23.763672 a 2,2 0 0 0 -2.8281249,0.0078 2,2 0 0 0 0.00781,2.828125 l 11.8750002,11.81836 a 2.0002,2.0002 0 0 0 2.820312,0 l 26.125,-26 A 2,2 0 0 0 44.417969,9.5898438 2,2 0 0 0 43.003906,9 Z";
    -el-icon-setting-two: "m 24,15 c -4.946871,0 -9,4.053129 -9,9 0,4.946871 4.053129,9 9,9 4.946871,0 9,-4.053129 9,-9 0,-4.946871 -4.053129,-9 -9,-9 z m 0,4 c 2.785121,0 5,2.214879 5,5 0,2.785121 -2.214879,5 -5,5 -2.785121,0 -5,-2.214879 -5,-5 0,-2.785121 2.214879,-5 5,-5 z M 18.119141,2.7949219 C 14.671958,3.7491605 11.566246,5.5203788 9.0234375,7.8847656 A 2.0002,2.0002 0 0 0 8.5898438,10.234375 C 8.8520606,10.766256 9,11.359013 9,12 c 0,2.232815 -1.7671754,4 -4,4 -0.018637,0 -0.036216,2.64e-4 -0.054687,0 a 2.0002,2.0002 0 0 0 -1.9375,1.400391 C 2.3528193,19.485621 2,21.704823 2,24 c 0,1.515242 0.1543079,2.997364 0.4472656,4.429687 a 2.0002,2.0002 0 0 0 2.1542969,1.589844 C 4.7325868,30.006657 4.865402,30 5,30 c 2.2328246,0 4,1.767185 4,4 0,0.992745 -0.3524444,1.880098 -0.9414062,2.578125 a 2.0002,2.0002 0 0 0 0.087891,2.675781 c 2.5966802,2.698232 5.8775542,4.735728 9.5664062,5.833985 A 2.0002,2.0002 0 0 0 20.189453,43.78125 C 20.702988,42.174843 22.196897,41 24,41 c 1.803103,0 3.297012,1.174843 3.810547,2.78125 a 2.0002,2.0002 0 0 0 2.476562,1.306641 c 3.688852,-1.098257 6.96975,-3.135744 9.566407,-5.833985 a 2.0002,2.0002 0 0 0 0.08789,-2.675781 C 39.352458,35.88009 39,34.992745 39,34 c 0,-2.232811 1.767189,-4 4,-4 0.134664,0 0.267374,0.0067 0.398437,0.01953 a 2.0002,2.0002 0 0 0 2.154297,-1.589844 C 45.84569,26.997374 46,25.515251 46,24 46,21.704804 45.647149,19.485591 44.992187,17.400391 A 2.0002,2.0002 0 0 0 43.054687,16 c -0.01841,2.63e-4 -0.03608,0 -0.05469,0 -2.232811,0 -4,-1.767189 -4,-4 0,-0.640987 0.147939,-1.233744 0.410156,-1.765625 A 2.0002,2.0002 0 0 0 38.976562,7.8847656 C 36.433754,5.5203788 33.328042,3.7491605 29.880859,2.7949219 A 2.0002,2.0002 0 0 0 27.566406,3.8144531 C 26.906026,5.1088929 25.572179,6 24,6 22.427821,6 21.093974,5.1088929 20.433594,3.8144531 A 2.0002,2.0002 0 0 0 18.119141,2.7949219 Z M 17.9375,7.1660156 C 19.408635,8.8887977 21.572904,10 24,10 c 2.427096,0 4.591365,-1.1112023 6.0625,-2.8339844 1.968704,0.7107906 3.77256,1.7256915 5.355469,3.0371094 C 35.273776,10.804698 35,11.358737 35,12 c 0,3.80613 2.758542,6.867625 6.337891,7.660156 C 41.688822,21.062196 42,22.484392 42,24 42,24.772021 41.867318,25.505266 41.773437,26.25 37.978365,26.867281 35,30.039615 35,34 c 0,1.221847 0.352615,2.340229 0.847656,3.382812 -1.535911,1.360609 -3.286566,2.435981 -5.220703,3.210938 C 29.188719,38.438439 26.766412,37 24,37 21.233588,37 18.811281,38.438439 17.373047,40.59375 15.438909,39.818793 13.688273,38.743426 12.152344,37.382812 12.647398,36.340221 13,35.221847 13,34 13,30.039618 10.021639,26.867282 6.2265625,26.25 6.1326845,25.505267 6,24.772027 6,24 6,22.484377 6.3111792,21.062179 6.6621094,19.660156 10.241461,18.867624 13,15.806126 13,12 13,11.358737 12.726224,10.804698 12.582031,10.203125 14.16494,8.8917071 15.968796,7.8768062 17.9375,7.1660156 Z";
    -el-icon-menu-unfold: "m 36.34375,16.34375 a 2,2 0 0 0 -1.414063,0.585937 2,2 0 0 0 0,2.828125 L 39.171875,24 34.929687,28.242187 a 2,2 0 0 0 0,2.828125 2,2 0 0 0 2.828125,0 l 5.65625,-5.65625 a 2.0002,2.0002 0 0 0 0,-2.828125 l -5.65625,-5.65625 A 2,2 0 0 0 36.34375,16.34375 Z M 8,35 a 2,2 0 0 0 -2,2 2,2 0 0 0 2,2 h 32 a 2,2 0 0 0 2,-2 2,2 0 0 0 -2,-2 z M 8,22 a 2,2 0 0 0 -2,2 2,2 0 0 0 2,2 h 34 a 2,2 0 0 0 2,-2 2,2 0 0 0 -2,-2 z M 8,9 a 2,2 0 0 0 -2,2 2,2 0 0 0 2,2 h 32 a 2,2 0 0 0 2,-2 2,2 0 0 0 -2,-2 z";
    -el-icon-calendar-dot: "m 4,9 a 2,2 0 0 0 -2,2 v 12 a 2,2 0 0 0 2,2 2,2 0 0 0 2,-2 V 11 A 2,2 0 0 0 4,9 Z m 28,25 a 2,2 0 0 0 -2,2 2,2 0 0 0 2,2 h 4 a 2,2 0 0 0 2,-2 2,2 0 0 0 -2,-2 z m -10,0 a 2,2 0 0 0 -2,2 2,2 0 0 0 2,2 h 4 a 2,2 0 0 0 2,-2 2,2 0 0 0 -2,-2 z m -10,0 a 2,2 0 0 0 -2,2 2,2 0 0 0 2,2 h 4 a 2,2 0 0 0 2,-2 2,2 0 0 0 -2,-2 z m 20,-7 a 2,2 0 0 0 -2,2 2,2 0 0 0 2,2 h 4 a 2,2 0 0 0 2,-2 2,2 0 0 0 -2,-2 z m -10,0 a 2,2 0 0 0 -2,2 2,2 0 0 0 2,2 h 4 a 2,2 0 0 0 2,-2 2,2 0 0 0 -2,-2 z m -10,0 a 2,2 0 0 0 -2,2 2,2 0 0 0 2,2 h 4 a 2,2 0 0 0 2,-2 2,2 0 0 0 -2,-2 z m 20,-7 a 2,2 0 0 0 -2,2 2,2 0 0 0 2,2 h 4 a 2,2 0 0 0 2,-2 2,2 0 0 0 -2,-2 z m -10,0 a 2,2 0 0 0 -2,2 2,2 0 0 0 2,2 h 4 a 2,2 0 0 0 2,-2 2,2 0 0 0 -2,-2 z m -10,0 a 2,2 0 0 0 -2,2 2,2 0 0 0 2,2 h 4 a 2,2 0 0 0 2,-2 2,2 0 0 0 -2,-2 z M 44,9 a 2,2 0 0 0 -2,2 v 12 a 2,2 0 0 0 2,2 2,2 0 0 0 2,-2 V 11 A 2,2 0 0 0 44,9 Z M 4,12 a 2,2 0 0 0 -2,2 2,2 0 0 0 2,2 h 40 a 2,2 0 0 0 2,-2 2,2 0 0 0 -2,-2 z M 6,2 C 3.8185966,2 2,3.8185966 2,6 v 36 c 0,2.181403 1.8185966,4 4,4 h 36 c 2.181403,0 4,-1.818597 4,-4 V 6 C 46,3.8185966 44.181403,2 42,2 Z M 6,6 H 42 V 42 H 6 Zm 4,9 a 2,2 0 0 0 -2,2 v 12 a 2,2 0 0 0 2,2 2,2 0 0 0 2,-2 V 11 A 2,2 0 0 0 4,9 Z m 28,25 a 2,2 0 0 0 -2,2 2,2 0 0 0 2,2 h 4 a 2,2 0 0 0 2,-2 2,2 0 0 0 -2,-2 z m -10,0 a 2,2 0 0 0 -2,2 2,2 0 0 0 2,2 h 4 a 2,2 0 0 0 2,-2 2,2 0 0 0 -2,-2 z m -10,0 a 2,2 0 0 0 -2,2 2,2 0 0 0 2,2 h 4 a 2,2 0 0 0 2,-2 2,2 0 0 0 -2,-2 z m 20,-7 a 2,2 0 0 0 -2,2 2,2 0 0 0 2,2 h 4 a 2,2 0 0 0 2,-2 2,2 0 0 0 -2,-2 z m -10,0 a 2,2 0 0 0 -2,2 2,2 0 0 0 2,2 h 4 a 2,2 0 0 0 2,-2 2,2 0 0 0 -2,-2 z m -10,0 a 2,2 0 0 0 -2,2 2,2 0 0 0 2,2 h 4 a 2,2 0 0 0 2,-2 2,2 0 0 0 -2,-2 z m 20,-7 a 2,2 0 0 0 -2,2 2,2 0 0 0 2,2 h 4 a 2,2 0 0 0 2,-2 2,2 0 0 0 -2,-2 z m -10,0 a 2,2 0 0 0 -2,2 2,2 0 0 0 2,2 h 4 a 2,2 0 0 0 2,-2 2,2 0 0 0 -2,-2 z m -10,0 a 2,2 0 0 0 -2,2 2,2 0 0 0 2,2 h 4 a 2,2 0 0 0 2,-2 2,2 0 0 0 -2,-2 z M 44,9 a 2,2 0 0 0 -2,2 v 12 a 2,2 0 0 0 2,2 2,2 0 0 0 2,-2 V 11 A 2,2 0 0 0 44,9 Z M 4,12 a 2,2 0 0 0 -2,2 2,2 0 0 0 2,2 h 40 a 2,2 0 0 0 2,-2 2,2 0 0 0 -2,-2 z M 6,2 C 3.8185966,2 2,3.8185966 2,6 v 36 c 0,2.181403 1.8185966,4 4,4 h 36 c 2.181403,0 4,-1.818597 4,-4 V 6 C 46,3.8185966 44.181403,2 42,2 Z M 6,6 H 42 V 42 H 6 Z";


    /* 全局背景色 */
    /* -fx-background-color: -el-color-background-base; */
}

.label {
    -fx-font-family: -el-font-family;
    -fx-font-size: 1.1666em;
    -fx-text-fill: -el-color-text-regular;
}


.button {
    -fx-background-color: -el-color-basic-white;
    -fx-text-fill: -el-color-text-regular;
    -fx-border-width: 1px;
    -fx-border-color: -el-color-border-base;
    -fx-border-style: solid;
    -fx-border-radius: 4px;
    /* -fx-background-radius必须，否则会露出尖锐的背景 */
    -fx-background-radius: 4px;
    -fx-background-insets: 0;
    -fx-padding: 6px 12px;
    -fx-cursor: hand;
    -fx-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    -fx-font-size: 1.1666em;
}

.button:hover {
    -fx-color: -el-color-primary;
    -fx-border-color: -el-color-primary-light-3;
    -fx-background-color: -el-color-primary-light-5;
}

.button:focused,
.button:pressed {
    -fx-text-fill: -el-color-primary;
    -fx-border-color: -el-color-primary;
    -fx-background-color: -el-color-primary-light-5;
}

.button:disabled {
    -fx-background-color: -el-color-basic-white;
    -fx-text-fill: #a8abb2;
}


.scroll-bar {
    -fx-background-color: -el-color-transparent;
}

.scroll-bar>.thumb {
    -fx-background-color: -el-color-border-dark;
}

.scroll-bar>.thumb:hover {
    -fx-background-color: -el-color-border-darker;
}

.scroll-bar>.increment-button,
.scroll-bar>.decrement-button {
    -fx-padding: 0;
}

.scroll-bar>.increment-button>.increment-arrow,
.scroll-bar>.decrement-button>.decrement-arrow {
    visibility: hidden;
    -fx-max-width: 0;
    -fx-max-height: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.check-box {
    -fx-font-size: 1.1666em;
    -fx-text-fill: -el-color-text-regular;
    -fx-cursor: hand;
}

.check-box>.box {

    -fx-border-radius: 2px;
    -fx-border-width: 1px;
    -fx-border-color: -el-color-border-dark;

    -fx-background-color: -el-color-background-base;
    -fx-background-radius: 2px;
    -fx-padding: 0.25em;
    /* 下面一行修复失去焦点后box形状变化的错误 */
    -fx-background-insets: 0;
}

.check-box>.box:hover,
.check-box:focused>.box {
    -fx-border-color: -el-color-primary;
}

.check-box:selected {
    -fx-text-fill: -el-color-primary;
}

.check-box:selected>.box {
    /* 选中box大小不变化 */
    -fx-background-insets: 0;
    -fx-border-color: -el-color-transparent;
    -fx-background-color: -el-color-primary;
}

.check-box:selected>.box>.mark {
    -fx-background-color: -el-color-fill-dark;
    -fx-shape: -el-icon-check;
}

.check-box:indeterminate>.box {
    -fx-background-insets: 0;
}

.check-box:indeterminate>.box>.mark {
    /* 限制图标大小 */
    -fx-background-insets: 1px 10px 1px 10px;
    -fx-border-color: -el-color-transparent;
    -fx-shape: -el-icon-minus;
    -fx-background-color: -el-color-primary;
    /* 控制大小 */
    -fx-padding: 0.46em;
}


.text-input {
    -fx-background-color: -el-color-background-base;
    -fx-background-insets: 0;
    -fx-border-radius: 2px;
    -fx-border-width: 1px;
    -fx-border-color: -el-color-border-base;
    -fx-text-fill: -el-color-text-regular;
    -fx-prompt-text-fill: -el-color-text-secondary;
}

.text-input:hover {
    -fx-border-color: -el-color-border-darker;
}

.text-input:focused {
    -fx-border-color: -el-color-primary;
}

.text-input:disabled {
    -fx-background-color: -el-color-fill-dark;
}

/* FIXME: 文字模糊 */
.text-area .content {
    -fx-stroke-width: 0px;
    -fx-stroke: transparent;
    -fx-background-color: -el-color-background-base;
}


.hyperlink {
    -fx-padding: 0 0 2px 0;
    -fx-text-fill: -el-color-text-regular;
    -fx-underline: false;
}

.hyperlink:hover {
    /* 改变border-color而不是border-width这样文字的位置不会偏移 */
    -fx-border-color: -el-color-transparent -el-color-transparent -el-color-primary -el-color-transparent;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-text-fill: -el-color-primary;
}

.hyperlink:focused {
    -fx-border-color: -el-color-transparent;
    -fx-text-fill: -el-color-primary-dark;
}

.hyperlink:hover:visited {
    -fx-border-color: -el-color-transparent -el-color-transparent -el-color-primary -el-color-transparent;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-text-fill: -el-color-primary-light;
}

/* TODO: 背景颜色值考虑为透明还是白色 */
.scroll-pane,
.scroll-pane>.viewport {
    -fx-background-color: -el-color-transparent;
}

.scroll-pane>.corner {
    -fx-background-color: -el-color-transparent;
}


.spinner {
    -fx-background-color: -el-color-transparent;
}

.spinner:focused,
.spinner:contains-focus {
    -fx-background-color: -el-color-transparent;
}

.spinner>.text-field {
    -fx-border-radius: 2px 0 0 2px;
    -fx-effect: null;
}

.spinner:focused>.text-field {
    -fx-border-width: 1px 0 1px 1px;
}

/* TODO: 按下状态的反馈效果 */
.spinner>.increment-arrow-button,
.spinner>.decrement-arrow-button {
    -fx-background-color: -el-color-fill-dark;
}

.spinner:focused>.increment-arrow-button {
    -fx-border-color: -el-color-primary -el-color-primary -el-color-transparent -el-color-transparent;
    -fx-border-style: solid;
    -fx-border-width: 1px 1px 0 0;
    -fx-border-radius: 0 2px 0 0;
}

/* FIXME: 像素不对齐 */
.spinner:focused>.decrement-arrow-button {
    -fx-border-color: -el-color-primary;
    -fx-border-style: solid;
    -fx-border-width: 0 1px 1px 0;
    -fx-border-radius: 0 0 2px 0;
}

.spinner>.increment-arrow-button>.increment-arrow {
    -fx-background-color: -el-color-text-regular;
    -fx-shape: -el-icon-up;
}

.spinner>.decrement-arrow-button>.decrement-arrow {
    -fx-background-color: -el-color-text-regular;
    -fx-shape: -el-icon-down;
}

.spinner>.increment-arrow-button:hover>.increment-arrow,
.spinner>.decrement-arrow-button:hover>.decrement-arrow {
    -fx-background-color: -el-color-primary;
}

.choice-box {
    -fx-cursor: hand;
    -fx-background-color: -el-color-background-base;
    -fx-background-insets: 0;
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-color: -el-color-border-base;
    -fx-text-fill: -el-color-text-regular;
}

.choice-box:hover {
    -fx-border-color: -el-color-border-darker;
}

.choice-box:focused {
    -fx-border-color: -el-color-primary;
}

.choice-box:disabled {
    -fx-background-color: -el-color-fill-dark;
}

.choice-box>.open-button>.arrow {
    -fx-shape: -el-icon-down;
    -fx-background-color: -el-color-text-regular;
}

.slider {
    -fx-padding: 2px;
}

.slider:focused,
.slider:hover {
    -fx-padding: 0;
}

.slider>.track {
    -fx-cursor: hand;
}

.slider>.thumb {
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
    -fx-cursor: move;
    -fx-background-color: -el-color-basic-white;
    -fx-border-color: -el-color-primary-dark;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}

.slider:focused>.thumb,
.slider:hover>.thumb {
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-border-radius: 12px;
}

.slider>.track {
    -fx-background-color: -el-color-border-darker;
    -fx-background-radius: 3px;
}


.radio-button {
    -fx-text-fill: -el-color-text-regular;
    -fx-cursor: hand;
}

.radio-button>.radio {
    -fx-background-color: -el-color-background-base;
    -fx-background-insets: 0;
    -fx-border-width: 1px;
    -fx-border-color: -el-color-border-base;
    -fx-border-radius: 10px;
}

.radio-button>.radio:hover,
.radio-button:focused>.radio {
    -fx-background-insets: 0;
    -fx-border-color: -el-color-primary;
}

.radio-button:selected>.radio {
    -fx-background-insets: 0;
    -fx-background-color: -el-color-primary;
    -fx-border-color: -el-color-transparent;
}

.radio-button>.radio>.dot {
    -fx-background-color: -el-color-transparent;
    -fx-background-insets: 0;
}

.radio-button:selected>.radio>.dot {
    -fx-background-color: -el-color-basic-white;
}


.progress-bar {
    -fx-background-color: -el-color-fill-darker;
    -fx-pref-height: 8px;
    -fx-background-radius: 4px;
}

.progress-bar>.track {
    -fx-background-color: -el-color-border-dark;
}

.progress-bar>.bar {
    -fx-background-insets: 0;
    -fx-background-color: -el-color-primary;
    -fx-background-radius: 4px;
}

.progress-bar:indeterminate>.bar {
    -fx-background-color: linear-gradient(to left, transparent, -el-color-primary, -el-color-primary-dark);
}


.progress-indicator:disabled {
    -fx-spin-enabled: false;
}

.progress-indicator>.determinate-indicator>.tick {
    -fx-shape: -el-icon-check;
    /* TODO: 图标比例 */
    -fx-background-insets: 2px;
    -fx-padding: 24px;
}

.progress-indicator>.determinate-indicator>.progress {
    -fx-background-color: -el-color-primary;
}

.progress-indicator>.determinate-indicator>.percentage {
    -fx-fill: -el-color-text-regular;
}

.progress-indicator>.determinate-indicator>.indicator {
    -fx-background-color: -el-color-fill-base;
    -fx-border-color: -el-color-border-darker;
    -fx-background-insets: 0;
    -fx-padding: 0;
}


.toggle-button {
    -fx-background-color: -el-color-background-base;
    -fx-background-insets: 0;
    -fx-text-fill: -el-color-primary;
    -fx-border-color: -el-color-border-base;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-padding: 8px 15px;
    -fx-cursor: hand;

}

.toggle-button:hover {
    -fx-color: -el-color-primary;
    -fx-border-color: -el-color-primary-light-3;
    -fx-background-color: -el-color-primary-light-5;
}

.toggle-button:pressed {
    -fx-text-fill: -el-color-basic-white;
    -fx-border-color: -el-color-transparent;
    -fx-background-color: -el-color-primary-light-2;
    -fx-background-insets: 0;
}

.toggle-button:selected {
    -fx-text-fill: -el-color-basic-white;
    -fx-border-color: -el-color-primary;
    -fx-background-color: -el-color-primary;
    -fx-background-insets: 0;
}


.combo-box {
    -fx-cursor: hand;
    -fx-background-radius: 4px;
    -fx-background-color: -el-color-background-base;
    -fx-background-insets: 0;
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-color: -el-color-border-base;
    -fx-text-fill: -el-color-text-regular;
}

.combo-box:hover {
    -fx-border-color: -el-color-border-darker;
}

.combo-box:focused {
    -fx-border-color: -el-color-primary;
}

.combo-box:disabled {
    -fx-background-color: -el-color-fill-dark;
}

.combo-box>.arrow-button>.arrow {
    -fx-shape: -el-icon-down;
    -fx-background-color: -el-color-text-regular;
}

.combo-box>.arrow-button:hover>.arrow {
    -fx-shape: -el-icon-down;
    -fx-background-color: -el-color-primary;
}

.combo-box:editable>.arrow-button {
    -fx-background-color: -el-color-transparent;
}

.combo-box:editable>.text-field {
    -fx-background-color: -el-color-transparent;
    -fx-border-color: -el-color-transparent;
    /* 控制高度与不可编辑状态下相同 */
    -fx-padding: 0.25em;
}

.combo-box-popup>.list-view {
    -fx-background-color: -el-color-background-base;
    -fx-border-color: -el-color-border-darker;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.12), 12, 0, 4, 8);
}


.menu-button,
.split-menu-button {
    -fx-cursor: hand;
    -fx-background-color: -el-color-background-base;
    -fx-background-insets: 0;
    -fx-border-radius: 4px;
    -fx-border-width: 0;
    -fx-text-fill: -el-color-text-regular;
}

.menu-button:hover,
.split-menu-button:hover {
    -fx-border-color: -el-color-border-darker;
}

.menu-button:focused,
.split-menu-button:focused {
    -fx-border-color: -el-color-primary;
}

.menu-button:disabled,
.split-menu-button:disabled {
    -fx-background-color: -el-color-fill-dark;
}

.menu-button>.arrow-button>.arrow,
.split-menu-button>.arrow-button>.arrow {
    -fx-shape: -el-icon-down;
    -fx-background-color: -el-color-text-regular;
}

.split-menu-button>.label,
.split-menu-button>.arrow-button {
    -fx-background-color: -el-color-transparent;
}

.menu-bar {
    -fx-padding: 0.5em;
    -fx-background-color: -el-color-background-base;
}

.menu-bar>.container {
    -fx-background-color: -el-color-background-base;
}

.menu-bar>.container>.menu-button {
    -fx-background-color: -el-color-transparent;
    -fx-border-color: -el-color-transparent;
}

.menu-bar>.container>.menu-button:hover>.label,
.menu-bar>.container>.menu-button:focused>.label,
.menu-bar>.container>.menu-button:showing>.label {
    -fx-text-fill: -el-color-primary;
}

.menu-item:hover,
.menu-item:focused {
    -fx-cursor: hand;
    -fx-background-color: -el-color-primary-light-4;
    -fx-text-fill: -fx-text-background-color;
}

.menu-item:focused>.label {
    -fx-text-fill: -el-color-primary;
}

.menu>.right-container>.arrow {
    -fx-shape: -el-icon-right;
    -fx-background-insets: 8 4 8 5;
    -fx-scale-shape: false;
}

.menu:focused>.right-container>.arrow {
    -fx-background-color: -el-color-primary-dark;
}

.check-menu-item:checked>.left-container>.check,
.radio-menu-item:checked>.left-container>.radio {
    -fx-background-color: -el-color-primary;
    -fx-shape: -el-icon-check;
    -fx-background-insets: 7px 12px 7px 12px;
    -fx-padding: 0.25em;
}

.check-menu-item:focused:checked>.left-container>.check,
.radio-menu-item:focused:checked>.left-container>.radio {
    -fx-background-color: -el-color-primary;
}

.context-menu {
    -fx-padding: 0;
    -fx-background-color: -el-color-background-base;
    -fx-border-color: -el-color-border-darker;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.12), 12, 0, 4, 8);
}

.context-menu:hover {
    -fx-border-color: -el-color-primary-light-2;
}

.context-menu .separator:horizontal .line {
    -fx-border-color: -el-color-border-dark transparent transparent transparent;
    -fx-border-width: 1 0 0 0;
    -fx-border-insets: 0;
}


.tab-pane>.tab-header-area>.tab-header-background {
    -fx-background-color: -el-color-basic-white;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: -el-color-border-dark;
}

.tab-pane>.tab-header-area>.headers-region {
    -fx-background-color: -el-color-basic-white;
}

.tab-pane>.tab-header-area>.headers-region>.tab {
    -fx-background-color: null;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: -el-color-border-dark;
}

.tab-pane>.tab-header-area>.headers-region>.tab:selected {
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: -el-color-border-dark;
}

.tab-pane>.tab-header-area>.headers-region>.tab:hover>.tab-container>.tab-label {
    -fx-text-fill: -el-color-primary;
}

.tab-pane>.tab-header-area>.headers-region>.tab:selected>.tab-container>.tab-label {
    -fx-text-fill: -el-color-primary;
}

.tab-pane>.tab-header-area>.headers-region>.tab:selected>.tab-container>.focus-indicator {
    -fx-border-width: 0 0 2px 0;
    -fx-border-insets: 0 -4px -6px -4px;
    -fx-border-color: -el-color-primary;
}


.titled-pane>.title {
    -fx-background-color: null;
    -fx-border-width: 1px 0 0 0;
    -fx-border-color: -el-color-border-base;
}

.titled-pane:collapsed>.title {
    -fx-border-width: 1px 0 1px 0;
}

.titled-pane>.title>.arrow-button>.arrow {
    -fx-shape: -el-icon-down;
    -fx-background-color: -el-color-text-regular;
    -fx-background-insets: 0;
    -fx-effect: null;
}

.titled-pane>.content {
    -fx-background-color: null;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: -el-color-border-base;
}

.split-pane {
    -fx-background-color: -el-color-transparent;
    -fx-border-width: 1px;
    -fx-border-color: -el-color-border-base;
}

.split-pane>.split-pane-divider {
    /* 实际宽度为6px */
    -fx-padding: 0 3px 0 3px;
    -fx-background-color: -el-color-border-base;
}

.split-pane:horizontal>.split-pane-divider {
    /* 显示宽度为1px */
    -fx-background-insets: 0 2px 0 3px;
}

.split-pane:vertical>.split-pane-divider {
    /* 显示宽度为1px */
    -fx-background-insets: 2px 0 3px 0;
}


.pagination>.pagination-control>.control-box>.left-arrow-button,
.pagination>.pagination-control>.control-box>.right-arrow-button {
    -fx-border-width: 0;
    -fx-background-color: null;
    -fx-scale-shape: true;
}

.pagination>.pagination-control>.control-box>.left-arrow-button>.left-arrow {
    -fx-shape: -el-icon-left;
}

.pagination>.pagination-control>.control-box>.right-arrow-button>.right-arrow {
    -fx-shape: -el-icon-right;
}

.pagination>.pagination-control>.control-box>.left-arrow-button:hover>.left-arrow,
.pagination>.pagination-control>.control-box>.right-arrow-button:hover>.right-arrow {
    -fx-background-color: -el-color-primary;
    -fx-background-insets: 0;
}

.pagination>.pagination-control>.control-box>.number-button {
    -fx-font-size: 1.1666em;
    -fx-background-color: null;
    -fx-text-fill: -el-color-text-regular;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.pagination>.pagination-control>.control-box>.number-button:hover,
.pagination>.pagination-control>.control-box>.number-button:selected {
    -fx-background-insets: 0;
    -fx-text-fill: -el-color-primary;
}

.separator:horizontal .line {
    -fx-border-color: -el-color-border-dark transparent transparent transparent;
    -fx-border-width: 1px 0 0 0;
    -fx-border-insets: 0;
}

.separator:vertical .line {
    -fx-border-color: transparent transparent transparent -el-color-border-dark;
    -fx-border-width: 0 0 0 1px;
    -fx-border-insets: 0;
}


.tool-bar {
    -fx-background-color: -el-color-fill-base;
}

.tool-bar-overflow-button>.arrow {
    -fx-background-color: -el-color-text-regular;
    -fx-background-insets: 0;
    -fx-padding: 6px 8px 6px 8px;
    -fx-shape: -el-icon-menu-unfold;
}

.tool-bar-overflow-button:hover>.arrow,
.tool-bar-overflow-button:focused>.arrow {
    -fx-background-color: -el-color-primary;
}


.date-picker {
    -fx-cursor: hand;
    -fx-background-radius: 4px;
    -fx-background-color: -el-color-background-base;
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-color: -el-color-border-base;
    -fx-text-fill: -el-color-text-regular;
}

.date-picker:hover {
    -fx-border-color: -el-color-border-darker;
}

.date-picker:focused {
    -fx-border-color: -el-color-primary;
}

.date-picker:disabled {
    -fx-background-color: -el-color-fill-dark;
}

.date-picker>.date-picker-display-node {
    -fx-border-width: 0;
}

.date-picker>.arrow-button {
    -fx-background-color: null;
}

.date-picker>.arrow-button>.arrow {
    -fx-shape: -el-icon-calendar-dot;
    -fx-background-color: -el-color-text-secondary;
    -fx-background-insets: 0;
    -fx-padding: 0.5em;
}

.date-picker>.arrow-button:hover>.arrow {
    -fx-shape: -el-icon-calendar-dot;
    -fx-background-color: -el-color-primary-light;
    -fx-background-insets: 0;
    -fx-padding: 0.5em;
}

.date-picker-popup {
    -fx-background-color: -el-color-background-base;
    -fx-background-insets: 0;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.12), 12, 0, 4, 8);
    -fx-border-width: 1px;
    -fx-border-color: -el-color-border-base;
    -fx-border-radius: 4px;
}

.date-picker-popup>.month-year-pane {
    -fx-padding: 0.25em;
    -fx-background-color: null;
    -fx-background-insets: 0;
}

.date-picker-popup>*>.spinner {
    -fx-spacing: 0;
}

.date-picker-popup>*>.spinner>.button {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-border-width: 0;
}

.date-picker-popup>*>.spinner>.button>.left-arrow,
.date-picker-popup>*>.spinner>.button>.right-arrow {
    -fx-background-color: -el-color-text-regular;
    -fx-background-insets: 0;
    -fx-effect: null;
}

.date-picker-popup>*>.spinner>.button:hover>.left-arrow,
.date-picker-popup>*>.spinner>.button:hover>.right-arrow {
    -fx-background-color: -el-color-primary-light;
}

.date-picker-popup>*>.spinner>.button:pressed>.left-arrow,
.date-picker-popup>*>.spinner>.button:pressed>.right-arrow {
    -fx-background-color: -el-color-primary;
}

.date-picker-popup>*>.spinner>.button>.left-arrow {
    -fx-padding: 0.3333em 0.25em 0.3333em 0.1667em;
    -fx-shape: -el-icon-left;
    -fx-scale-shape: true;
}

.date-picker-popup>*>.spinner>.button>.right-arrow {
    -fx-padding: 0.3333em 0.25em 0.3333em 0.1667em;
    -fx-shape: -el-icon-right;
    -fx-scale-shape: true;
}

.date-picker-popup>.calendar-grid {
    -fx-background-color: null;
}

.date-picker-popup>*>.date-cell {
    -fx-background-insets: 0.1666em 0.4em 0.1666em 0.4em;
    -fx-padding: 0;
}

.date-picker-popup>*>.day-cell {
    -fx-border-width: 0;
    -fx-background-color: null;
    -fx-text-fill: -el-color-text-regular;
    -fx-cursor: hand;
    /* FIXME: 选中后椭圆 */
    -fx-background-insets: 0 1px;
    -fx-pref-width: 2em;
    -fx-pref-height: 2em;
}

.date-picker-popup>*>.day-name-cell {
    -fx-border-width: 1px 0 1px 1px;
    -fx-border-color: -el-color-border-base;
    -fx-text-fill: -el-color-text-regular;
}

.date-picker-popup>*>.week-number-cell {
    -fx-border-width: 1px 1px 0 0;
    -fx-border-color: -el-color-border-base;
    -fx-text-fill: -el-color-text-secondary;
}

.date-picker-popup>*>.today {
    -fx-underline: true;
}

.date-picker-popup>*>.previous-month,
.date-picker-popup>*>.next-month {
    -fx-text-fill: -el-color-text-disabled;
}

.date-picker-popup>*>.day-cell:hover {
    -fx-background-color: null;
    -fx-text-fill: -el-color-primary;
}

.date-picker-popup>*>.selected,
.date-picker-popup>*>.selected:hover,
.date-picker-popup>*>.selected:pressed,
.date-picker-popup>*>.previous-month.selected,
.date-picker-popup>*>.next-month.selected {
    -fx-background-color: -el-color-primary;
    -fx-text-fill: -el-color-basic-white;
    -fx-background-radius: 3em;
}


.color-picker {
    -fx-cursor: hand;
    -fx-background-radius: 4px;
    -fx-background-color: -el-color-background-base;
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-color: -el-color-border-base;
    -fx-text-fill: -el-color-text-regular;
}

.color-picker:hover {
    -fx-border-color: -el-color-border-darker;
}

.color-picker:focused {
    -fx-border-color: -el-color-primary;
}

.color-picker:disabled {
    -fx-background-color: -el-color-fill-dark;
}

.color-picker>.color-picker-label>.picker-color>.picker-color-rect {
    -fx-stroke: -el-color-border-darker;
}

.color-picker>.color-picker-label {
    -fx-font-size: 1.0833em;
}

.color-picker:editable>.arrow-button {
    -fx-background-color: -el-color-transparent;
}

.color-picker>.arrow-button>.arrow {
    -fx-shape: -el-icon-down;
    -fx-background-color: -el-color-text-regular;
    -fx-background-insets: 0;
}

.color-palette {
    -fx-spacing: 0.1666em;
    -fx-background-color: -el-color-background-base;
    -fx-background-insets: 0;
    -fx-background-radius: 4px;
    -fx-padding: 0.5em;
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-color: -el-color-border-base;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.12), 12, 0, 4, 8);
}

.color-palette>.hyperlink {
    -fx-border-insets: 0 5em;
}

.color-palette-region>.color-square.hover-square {
    -fx-background-color: null;
    -fx-border-color: -el-color-primary;
    -fx-border-width: 1px;
}

.custom-color-dialog .color-rect-pane .color-rect-border {
    -fx-border-color: null;
    -fx-border-width: 0;
}

.custom-color-dialog>.color-rect-pane #color-rect-indicator {
    -fx-border-color: -el-color-basic-white;
    -fx-border-radius: 0.4167em;
    -fx-translate-x: -0.4167em;
    -fx-translate-y: -0.4167em;
    -fx-pref-width: 0.8333em;
    -fx-pref-height: 0.8333em;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 2, 0, 1, 1);
}

.custom-color-dialog>.color-rect-pane>.color-bar {
    -fx-border-color: null;
}

.custom-color-dialog>.color-rect-pane>.color-bar>#color-bar-indicator {
    -fx-border-radius: 0;
    -fx-border-color: -el-color-basic-white;
    -fx-background-color: -el-color-basic-white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 2, 0, 0, 0);
}

.custom-color-dialog {
    -fx-background-color: -el-color-basic-white;
    -fx-padding: 0.75em;
    -fx-spacing: 0.75em;
}

.custom-color-dialog .controls-pane .current-new-color-grid #current-new-color-border {
    -fx-border-color: -el-color-border-base;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
}

.custom-color-dialog .controls-pane .customcolor-controls-background {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}


.tooltip {
    -fx-background-color: rgba(30, 30, 30, 1);
    -fx-background-radius: 3px;
    -fx-effect: null;
}