
.el-button {
    background-color: white;
    color: #606266;
    border-width: 1px;
    border-color: #dcdfe6;
    border-style: solid;
    border-radius: 4px;
    padding: 8px 15px;
    cursor: pointer;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB','Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    margin-left: 12px;
    font-size: 14px;

    -fx-background-color: white;
    -fx-text-fill: #606266;
    -fx-border-width: 1;
    -fx-border-color: #dcdfe6;
    -fx-border-style: solid;
    -fx-border-radius: 4;
    -fx-background-radius: 4; /* 必须，否则会露出尖锐的背景 */
    -fx-padding: 8 15;
    -fx-cursor: hand; /* javafx css */
    -fx-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB','Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    -fx-margin-left: 12;
    -fx-font-size: 14;
}

.el-button:hover {
    color: #409eff;
    border-color: #c6e2ff;
    background-color: #ecf5ff;

    -fx-color: #409eff;
    -fx-border-color: #c6e2ff;
    -fx-background-color: #ecf5ff;
}

.el-button:pressed {
    color: #409eff;
    border-color: #409eff;
    background-color: #ecf5ff;
    outline: none;

    -fx-text-fill: #409eff;
    -fx-border-color: #409eff;
    -fx-background-color: #ecf5ff;
}