/* .root 下可声明css变量？注意不可以有-- */
.root {

    /* 主色 */
    -el-color-primary: #409eff;
    -el-color-primary-dark: #337ecc;
    -el-color-primary-light: #79bbff;
    -el-color-primary-light-2: #a0cfff;
    -el-color-primary-light-3: #c6e2ff;
    -el-color-primary-light-4: #d9ecff;
    -el-color-primary-light-5: #ecf5ff;

    /* 辅助色 */
    /* 成功 */
    -el-color-success: #67c23a;
    -el-color-success-dark: #529b2e;
    -el-color-success-light: #95d475;
    -el-color-success-light-2: #b3e19d;
    -el-color-success-light-3: #d1edc4;
    -el-color-success-light-4: #e1f3d8;
    -el-color-success-light-5: #f0f9eb;
    /* 警告 */
    -el-color-warning: #e6a23c;
    -el-color-warning-dark: #b88230;
    -el-color-warning-light: #eebe77;
    -el-color-warning-light-2: #f3d19e;
    -el-color-warning-light-3: #f8e3c5;
    -el-color-warning-light-4: #faecd8;
    -el-color-warning-light-5: #fdf6ec;
    /* 危险 */
    -el-color-danger: #f56c6c;
    -el-color-danger-dark: #c45656;
    -el-color-danger-light: #f89898;
    -el-color-danger-light-2: #fab6b6;
    -el-color-danger-light-3: #fcd3d3;
    -el-color-danger-light-4: #fde2e2;
    -el-color-danger-light-5: #fef0f0;
    /* 信息 */
    -el-color-info: #909399;
    -el-color-info-dark: #73767a;
    -el-color-info-light: #b1b3b8;
    -el-color-info-light-2: #c8c9cc;
    -el-color-info-light-3: #dedfe0;
    -el-color-info-light-4: #e9e9eb;
    -el-color-info-light-5: #f4f4f5;

    /* 中性色 */
    /* 文本 */
    -el-color-text-primary: #b1b3b8;
    -el-color-text-regular: #606060;
    -el-color-text-secondary: #dedfe0;
    -el-color-text-placeholder: #e9e9eb;
    -el-color-text-disabled: #f4f4f5;
    /* 边框 */
    -el-color-border-darker: #cdd0d6;
    -el-color-border-dark: #d4d7de;
    -el-color-border-base: #dcdfe6;
    -el-color-border-light: #e4e7ed;
    -el-color-border-lighter: #ebeef5;
    -el-color-border-extra-light: #f2f6fc;
    /* 填充 */
    -el-color-fill-darker: #e6e8eb;
    -el-color-fill-dark: #ebedf0;
    -el-color-fill-base: #f0f2f5;
    -el-color-fill-light: #f5f7fa;
    -el-color-fill-lighter: #fafafa;
    -el-color-fill-extra-light: #fafcff;
    -el-color-fill-blank: #ffffff;
    /* 其他 */
    -el-color-basic-black: black;
    -el-color-basic-white: white;
    -el-color-transparent: transparent;
    -el-color-background-page: #f2f3f5;
    -el-color-background-base: white;
    -el-color-background-overlay: white;

    /* 字体 */
    -el-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    /* 字体大小 */
    -el-font-size-extra-small: 1em;
    -el-font-size-small: 1.0833em;
    -el-font-size-base: 1.1666em;
    -el-font-size-medium: 1.3333em;
    -el-font-size-large: 1.5em;
    -el-font-size-extra-large: 1.6666em;
    /* TODO: 行高 */
    /* 间距 */
    -el-space-small: 8;
    /* small 才是真正的默认间距 */
    -el-space-default: 12;
    -el-space-large: 16;

    -el-border-radius-small: 2;




}

.label {
    -fx-font-family: -el-font-family;
    -fx-font-size: 1.1666em;
    -fx-text-fill: -el-color-text-regular;
}


.button {
    -fx-background-color: white;
    -fx-text-fill: #606266;
    -fx-border-width: 1;
    -fx-border-color: #dcdfe6;
    -fx-border-style: solid;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    /* -fx-background-radius必须，否则会露出尖锐的背景 */
    -fx-padding: 8 15;
    -fx-cursor: hand;
    -fx-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    -fx-font-size: 14;

    /* 未实现 */
    margin-left: 12px;
}

.button:hover {
    color: #409eff;
    border-color: #c6e2ff;
    background-color: #ecf5ff;

    -fx-color: #409eff;
    -fx-border-color: #c6e2ff;
    -fx-background-color: #ecf5ff;
}

.button:focused,
.button:pressed {
    color: #409eff;
    border-color: #409eff;
    background-color: #ecf5ff;
    outline: none;

    -fx-text-fill: #409eff;
    -fx-border-color: #409eff;
    -fx-background-color: #ecf5ff;
}

.button:disabled {
    cursor: not-allowed;
    background-color: white;
    color: #a8abb2;

    -fx-cursor: default;
    /* -fx-cursor中无等效替代 */
    -fx-background-color: white;
    -fx-text-fill: #a8abb2;

}

/* FIXME: 全局破坏性更改 */
HBox,
VBox {
    -fx-spacing: -el-space-small;
}

.scroll-bar {
    -fx-background-color: -el-color-transparent;
}

.scroll-bar>.thumb {
    -fx-background-color: -el-color-border-dark;
}

.scroll-bar>.thumb:hover {
    -fx-background-color: -el-color-border-darker;
}

.scroll-bar>.increment-button,
.scroll-bar>.decrement-button {
    -fx-padding: 0;
}

.scroll-bar>.increment-button>.increment-arrow,
.scroll-bar>.decrement-button>.decrement-arrow {
    visibility: hidden;
    -fx-max-width: 0;
    -fx-max-height: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.check-box {
    -fx-font-size: 1.1666em;
    -fx-text-fill: -el-color-text-regular;
    -fx-cursor: hand;
}

.check-box>.box {
    -fx-border-radius: 2;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color: -el-color-border-dark;
    -fx-background-color: -el-color-transparent;
    -fx-background-radius: 2;
    /* 下面一行修复失去焦点后box形状变化的错误 */
    -fx-background-insets: 0;
}

.check-box>.box:hover,
.check-box:focused>.box {
    -fx-border-color: -el-color-primary;
}

.check-box:selected {
    -fx-text-fill: -el-color-primary;
}

.check-box:selected>.box {
    /* 选中box大小不变化 */
    -fx-border-color: -el-color-transparent;
    -fx-background-color: -el-color-primary;
}

/* TODO: 修改选中标志形状？ */
.check-box:selected>.box>.mark {
    -fx-background-color: -el-color-fill-dark;
    /* -fx-shape: "M43 11L16.875 37L5 25.1818" */
}

/* TODO: 背景颜色待确定 */
.text-input {
    -fx-background-color: -el-color-transparent;
    -fx-border-radius: 2;
    -fx-border-width: 1;
    -fx-border-color: -el-color-border-base;
    -fx-text-fill: -el-color-text-regular;
    -fx-prompt-text-fill: -el-color-text-primary;
}

.text-input:hover {
    -fx-border-color: -el-color-border-darker;
}

.text-input:focused {
    -fx-border-color: -el-color-primary;
}

.text-input:disabled {
    -fx-background-color: -el-color-fill-dark;
}

.hyperlink {
    -fx-padding: 0 0 2px 0;
    -fx-text-fill: -el-color-text-regular;
    -fx-underline: false;
}

.hyperlink:hover {
    /* 改变border-color而不是border-width这样文字的位置不会偏移 */
    -fx-border-color: -el-color-transparent -el-color-transparent -el-color-primary -el-color-transparent;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-text-fill: -el-color-primary;
}

.hyperlink:focused {
    -fx-border-color: -el-color-transparent;
    -fx-text-fill: -el-color-primary-dark;
}

.hyperlink:hover:visited {
    -fx-text-fill: -el-color-primary-light;
}

/* TODO: 背景颜色值考虑为透明还是白色 */
.scroll-pane,
.scroll-pane>.viewport {
    -fx-background-color: -el-color-transparent;
}

.scroll-pane>.corner {
    -fx-background-color: -el-color-transparent;
}

.spinner {
    -fx-background-color: -el-color-transparent;
}

/* 整理代码 */
.spinner:focused,
.spinner:contains-focus {
    -fx-background-color: -el-color-transparent;
}

.spinner .text-field {
    -fx-border-radius: 2 0 0 2;
    -fx-effect: null;
}

.spinner:focused .text-field {
    -fx-border-width: 1px 0 1px 1px;
}

/* TODO: 按下状态的反馈效果 */
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: -el-color-fill-dark;
}

.spinner:focused .increment-arrow-button {
    -fx-border-color: -el-color-primary -el-color-primary -el-color-transparent -el-color-transparent;
    -fx-border-style: solid;
    -fx-border-width: 1px 1px 0 0;
    -fx-border-radius: 0 2 0 0;
}

/* FIXME: 像素不对齐 */
.spinner:focused .decrement-arrow-button {
    -fx-border-color: -el-color-primary;
    -fx-border-style: solid;
    -fx-border-width: 0 1px 1px 0;
    -fx-border-radius: 0 0 2 0;
}

.spinner .increment-arrow-button .increment-arrow {
    -fx-background-color: -el-color-text-regular;
    -fx-padding: 0.3333em 0.3333em 0.1666em 0.3333em;
    /* -fx-shape: "M 0 4 h 7 l -3.5 -4 z"; */
}

.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: -el-color-text-regular;
    -fx-padding: 0.1666em 0.3333em 0.33333em 0.3333em;
    /* -fx-shape: "M 0 0 h 7 l -3.5 4 z"; */
}

.spinner .increment-arrow-button:hover .increment-arrow,
.spinner .decrement-arrow-button:hover .decrement-arrow {
    -fx-background-color: -el-color-primary;
}

.choice-box {
    -fx-cursor: hand;
    -fx-background-color: -el-color-transparent;
    -fx-border-radius: 4;
    -fx-border-width: 1;
    -fx-border-color: -el-color-border-base;
    -fx-text-fill: -el-color-text-regular;
}

.choice-box:hover {
    -fx-border-color: -el-color-border-darker;
}

.choice-box:focused {
    -fx-border-color: -el-color-primary;
}

.choice-box:disabled {
    -fx-background-color: -el-color-fill-dark;
}

.choice-box>.open-button>.arrow {
    -fx-background-color: -el-color-text-regular;
}

.slider {
    -fx-padding: 2px;
}

.slider:focused,
.slider:hover {
    -fx-padding: 0;
}

.slider .track {
    -fx-cursor: hand;
}

.slider .thumb {
    /* 20 */
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
    -fx-cursor: move;
    -fx-background-color: -el-color-basic-white;
    -fx-border-color: -el-color-primary-dark;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}

.slider:focused .thumb,
.slider:hover .thumb {
    /* 24 */
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-border-radius: 12px;
}

.slider .track {
    -fx-background-color: -el-color-text-secondary;
    -fx-background-radius: 3px;
}


.radio-button {
    -fx-text-fill: -el-color-text-regular;
    -fx-cursor: hand;
}

.radio-button>.radio {
    -fx-background-color: -el-color-basic-white;
    -fx-border-width: 1px;
    -fx-border-color: -el-color-border-base;
    -fx-border-radius: 10px;
}

.radio-button>.radio:hover,
.radio-button:focused>.radio {
    -fx-border-color: -el-color-primary;
}

.radio-button>.radio>.dot {
    -fx-background-color: -el-color-transparent;
    -fx-background-radius: 1.0em;
}

/* FIXME: 失去焦点后偏移 */
.radio-button:selected>.radio {
    -fx-background-color: -el-color-primary;
    -fx-border-color: -el-color-transparent;
}

.radio-button:selected>.radio>.dot {
    -fx-background-color: -el-color-basic-white;
}

.progress-bar {
    -fx-background-color: -el-color-fill-darker;
    -fx-pref-height: 8px;
    -fx-background-radius: 4px;
}

.progress-bar>.track {
    -fx-background-color: -el-color-fill-darker;
}

.progress-bar>.bar {
    -fx-background-insets: 0;
    -fx-background-color: -el-color-primary;
    -fx-background-radius: 4px;
}

.progress-bar:indeterminate>.bar {
    -fx-background-color: linear-gradient(to left, transparent, -el-color-primary, -el-color-primary-dark);
}

.progress-indicator:disabled {
    -fx-spin-enabled: false;
}

.progress-indicator > .determinate-indicator > .progress {
    -fx-background-color: -el-color-primary;
}

.progress-indicator>.determinate-indicator>.percentage {
    -fx-fill: -el-color-text-regular;
}

.progress-indicator>.determinate-indicator>.indicator {
    -fx-background-color: -el-color-fill-base;
    -fx-border-color: -el-color-border-darker;
    -fx-background-insets: 0;
    -fx-padding: 0;
}